@import "colors.css";

@define-color base @surface;
@define-color accent @primary;
@define-color trough @surface_variant;

window#osd {
  border-radius: 12px;
  border: none;
  background: alpha(@base, 0.75);
}

window#osd #container {
  margin: 6px;
  padding: 8px 4px 8px 4px;
  background: transparent;
}

window#osd image {
  -gtk-icon-transform: scale(0.7);
}

window#osd image, window#osd label {
  color: @accent;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 6px;
  min-width: 100px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: alpha(@trough, 0.5);
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @accent;
}
