spawn-at-startup "waybar"
spawn-at-startup "swaync"
spawn-at-startup "swayosd-server"
spawn-at-startup "blueman-applet"
spawn-at-startup "/usr/lib/soteria-polkit/soteria"
spawn-sh-at-startup "vicinae server"
spawn-sh-at-startup "wl-clip-persist --clipboard regular"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface font-name 'Google Sans Flex 10.2'"
spawn-sh-at-startup "swaybg -i ~/Pictures/botw/34.1.jpg"


environment {
	QT_QPA_PLATFORMTHEME "qt6ct"
	QT_QPA_PLATFORM "wayland" 
}

cursor {
	xcursor-theme "Breeze-Obsidian"
	xcursor-size 16
}

clipboard {
    disable-primary
}

hotkey-overlay {
    skip-at-startup
}
