// spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-sh-at-startup "playerctld daemon"
spawn-at-startup "waybar"
spawn-at-startup "swayidle"
spawn-at-startup "swaync"
spawn-at-startup "swayosd-server"
spawn-at-startup "blueman-applet"
spawn-at-startup "awww-daemon"
spawn-at-startup "/usr/lib/soteria-polkit/soteria"
spawn-at-startup "/usr/bin/kdeconnectd"
spawn-sh-at-startup "vicinae server"
spawn-sh-at-startup "wl-clip-persist --clipboard regular"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface font-name 'Google Sans Flex 10.2'"
spawn-sh-at-startup "matugen image ~/Pictures/botw/09.jpg --source-color-index 0"


environment {

}

cursor {
	xcursor-theme "Breeze-Obsidian"
	xcursor-size 16
}

clipboard {
    disable-primary
}

hotkey-overlay {
    skip-at-startup
}
