/*---------------------
|       General       |
---------------------*/

/*---Colors----*/
@define-color base #1e1e2e;
@define-color accent #89b4fa;
@define-color text #cdd6f4;
@define-color mantle #181825;
@define-color crust #11111b;
@define-color surface transparent;
@define-color div #6c7086;
@define-color hover @accent;
@define-color hover_bg rgba(255, 255, 255, 0.04);

/*----Waybar----*/
#waybar {
	background-color: @base;
	/*border-radius: 10px;*/
}

/*----Waybar-Box----*/
#waybar > box {
	margin: 4px;
	background-color: transparent;
}

/*----Fonts----*/
* {
    font-family: "CaskaydiaCove Nerd Font";
    font-weight: 600;
	font-size: 15.8px;
	color: @text;
	padding-top: 0px;
	padding-bottom: 0px;
}
/*----Spacing----*/
#custom-div {
	color: @div;
	padding: 0px 5px;
}

/*----Hover----*/
#window:hover label,
#custom-arch:hover,
#custom-gpu:hover,
#cpu:hover, #temperature:hover,
#clock:hover,
#mpris:hover, #custom-play:hover, #custom-next:hover, #custom-previous:hover,
#network:hover,
#pulseaudio:hover,
#battery:hover,
#custom-menu:hover, #custom-clipboard:hover, #idle_inhibitor:hover {
	color: @hover;
}

/*----Menu----*/
menu {
	background-color: alpha(@base, 0.85);
	color: @text;
}
decoration {
	background-color: transparent;
}
menu label {
	font-family: "Google Sans Flex";
	font-size: 15.4px;
	font-weight: 500;
	padding: 4px;
}
/*----Menu----*/
tooltip {
	background-color: @base;
}

/*---------------------
|     Modules Left    |
---------------------*/

/*----Arch----*/
#custom-arch {
	padding: 0px 8px 0px 8px;
	background-color: transparent;
	font-size: 18px;
}

/*----Workspaces----*/
#workspaces {
	padding: 0px;
	background-color: @surface;
	border-radius: 8px;
}

#workspaces button {
	color: @text;
	padding: 0px 7px 0px 3px;
}

#workspaces button:hover {
	background-color: @hover_bg;
}

#workspaces button.active label, #workspaces button:hover label {
	color: @accent;
}


/*----GPU----*/
#custom-gpu {
	padding: 0px 8px;
	font-family: "Google Sans Flex";
	font-weight: 400;
	font-size: 15.4px;
}

/*----CPU Usage----*/
#cpu {
	padding-left: 5px;
	font-family: "Google Sans Flex";
	font-weight: 400;
	font-size: 15.4px;
}

/*----CPU Temp----*/
#temperature {
	padding-right: 5px;
	font-family: "Google Sans Flex";
	font-weight: 400;
	font-size: 15.4px;
}

/*----Windows----*/
#window {
	margin-left: 4px;
}

#window label {
	font-family: "Google Sans Flex";
	font-weight: 400;
	font-size: 15.4px;
}

/*---------------------
|    Modules Center   |
---------------------*/

/*----Clock----*/
#clock {
	padding: 0px 5px;
	border-radius: 8px;
	font-family: "Google Sans Flex";
	font-weight: 600;
	font-size: 16px;
}



/*---------------------
|    Modules Right    |
---------------------*/

/*----Media Player----*/
#mpris {
	margin-right: 10px;
	font-family: "Google Sans Flex";
	font-weight: 400;
	font-size: 15.4px;
}

#custom-play {
	margin: 0px 9px;
}

#custom-previous {
	font-size: 18px;
	margin: 0px 0px 0px 2px;
}

#custom-next {
	font-size: 18px;
	margin: 0px 6px 0px 0px;
}


/*----Sys Tray----*/
#network {
	padding: 0px 10px 0px 6px;
}

#pulseaudio {
	padding: 0px 10px;
}

#battery {
	padding: 0px 6px 0px 10px;
}

#network, #pulseaudio, #battery  {
}

/*----Drawer----*/
#idle_inhibitor, #custom-clipboard {
	padding: 0px 8px;
}

#tray {
	padding: 0px 2px;
}

#custom-menu {
	padding: 0px 14px 0px 6px;
}
